@font-face {
    font-family: 'Lemon Milk';
    src: url('./fonts/LemonMilk.otf') format('truetype');
  }
@font-face {
    font-family: 'Roboto Light';
    src: url('./fonts/Roboto-Light.ttf') format('truetype');
} 
@font-face {
    font-family: 'Roboto Bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
} 
  body{
    font-family: 'Roboto Light', sans-serif;
  }
  